In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from tqdm import tqdm
import numpy as np

In [2]:
df = pd.read_csv('Books.csv',encoding = 'ISO-8859-1')
df.head()

,title,rating,price,availability,title_link,img_link
0,A Light in the Attic,Three,51.77,In stock,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/media/cache/2c/da/2...
1,Tipping the Velvet,One,53.74,In stock,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/media/cache/26/0c/2...
2,Soumission,One,50.10,In stock,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/media/cache/3e/ef/3...
3,Sharp Objects,Four,47.82,In stock,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/media/cache/32/51/3...
4,Sapiens: A Brief History of Humankind,Five,54.23,In stock,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/media/cache/be/a5/b...

In [3]:
data=[]
for sp in tqdm(df['title_link']):
    
    res  = requests.get(sp)
    soup = BeautifulSoup(res.text,'html.parser')
    
    cat  = soup.find('ul',class_='breadcrumb').find_all('a')[2].text
    qn   = soup.find('p',class_='instock availability').text[25:-16].strip()
    temp = soup.find('table', class_='table table-striped').find_all('td')
    
    upc      = temp[0].text
    price_x  = temp[2].text[1:]
    price_i  = temp[3].text[1:]
    tax      = temp[4].text[1:]
    review   = temp[6].text
    
    data.append([cat,qn,upc,price_x,price_i,tax,review])

100%|██████████████████████████████████████████████████████████████████████████████| 1000/1000 [16:40<00:00,  1.00s/it]

In [4]:
up1c = soup.find('table', class_='table table-striped').find_all('td')

In [5]:
qn

'1'

In [6]:
upc

'228ba5e7577e1d49'

In [24]:
temp = soup.find('table', class_ = 'table table-striped').find_all('td')
print(temp[2].text[1:])

Â£52.37

In [7]:
 temp[2].text[1:]

'£26.08'

In [8]:
temp[6].text

'0'

In [9]:
df = pd.DataFrame(data, columns = ['Category','Quantity','UPC','Price_x','Price_i','Tax','Review'])
df.head()

             Category Quantity               UPC Price_x Price_i    Tax Review
0              Poetry       22  a897fe39b1053632  £51.77  £51.77  £0.00      0
1  Historical Fiction       20  90fa61229261140a  £53.74  £53.74  £0.00      0
2             Fiction       20  6957f44c3847a760  £50.10  £50.10  £0.00      0
3             Mystery       20  e00eb4fd7b871a48  £47.82  £47.82  £0.00      0
4             History       20  4165285e1663650f  £54.23  £54.23  £0.00      0

In [10]:
df.to_csv('Book_info.csv',index= False)

In [16]:
data1=[]
for i in tqdm(range(1,51)):
    link = 'https://books.toscrape.com/catalogue/category/books_1/page-'+str(i)+'.html'
    res = requests.get(link)
    soup = BeautifulSoup(res.text,'html.parser')
    
    for sp in soup.find_all('li',class_='col-xs-6 col-sm-4 col-md-3 col-lg-3') :
        
        img_link    = 'https://books.toscrape.com'+ sp.find('img').get('src')[8:]
        title_link  = 'https://books.toscrape.com/catalogue' + sp.find('a').get('href')[5:]
        title       = sp.find_all('a')[-1].get('title')
        rating      = sp.find('p').get('class')[-1]
        price       = sp.find('p',class_='price_color').text[2:]
        availability= sp.find('p',class_='instock availability').text.strip()

        data1.append([title, rating, price,availability, title_link, img_link])

100%|██████████████████████████████████████████████████████████████████████████████████| 50/50 [01:13<00:00,  1.47s/it]

In [17]:
df = pd.DataFrame(data1,columns=['title', 'rating', 'price','availability', 'title_link', 'img_link'])

In [18]:
data2=[]
for sp in tqdm(df['title_link']):
    
    res  = requests.get(sp)
    soup = BeautifulSoup(res.text,'html.parser')
    
    cat  = soup.find('ul',class_='breadcrumb').find_all('a')[2].text
    qn   = soup.find('p',class_='instock availability').text[25:-16].strip()
    temp = soup.find('table', class_='table table-striped').find_all('td')
    
    upc      = temp[0].text
    price_x  = temp[2].text[1:]
    price_i  = temp[3].text[1:]
    tax      = temp[4].text[1:]
    review   = temp[6].text
    
    data2.append([cat,qn,upc,price_x,price_i,tax,review])

100%|██████████████████████████████████████████████████████████████████████████████| 1000/1000 [16:28<00:00,  1.01it/s]

In [19]:
df1= pd.read_csv('Books_utf8.csv',encoding = 'ISO-8859-1')
df2= pd.read_csv('Book_info.csv',encoding = 'ISO-8859-1')

In [20]:
df1.head()

,title,rating,price,availability,title_link,img_link
0,A Light in the Attic,Three,51.77,In stock,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/media/cache/2c/da/2...
1,Tipping the Velvet,One,53.74,In stock,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/media/cache/26/0c/2...
2,Soumission,One,50.10,In stock,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/media/cache/3e/ef/3...
3,Sharp Objects,Four,47.82,In stock,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/media/cache/32/51/3...
4,Sapiens: A Brief History of Humankind,Five,54.23,In stock,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/media/cache/be/a5/b...

In [21]:
df2.head()

,Category,Quantity,UPC,Price_x,Price_i,Tax,Review
0,Poetry,22,a897fe39b1053632,Â£51.77,Â£51.77,Â£0.00,0
1,Historical Fiction,20,90fa61229261140a,Â£53.74,Â£53.74,Â£0.00,0
2,Fiction,20,6957f44c3847a760,Â£50.10,Â£50.10,Â£0.00,0
3,Mystery,20,e00eb4fd7b871a48,Â£47.82,Â£47.82,Â£0.00,0
4,History,20,4165285e1663650f,Â£54.23,Â£54.23,Â£0.00,0

In [22]:
df= pd.DataFrame()

df['Title']        =  df1['title']
df['UPC']          =  df2['UPC']
df['Category']     =  df2['Category']
df['Rating']       =  df1['rating']
df['Quantity']     =  df2['Quantity']
df['Price_x']      =  df2['Price_x']
df['Price_i']      =  df2['Price_i']
df['Total_price']  =  df1['price']
df['Title_link']   =  df1['title_link']
df['Img_link']     =  df1['img_link']

In [23]:
df.head()

,Title,UPC,Category,Rating,Quantity,Price_x,Price_i,Total_price,Title_link,Img_link
0,A Light in the Attic,a897fe39b1053632,Poetry,Three,22,Â£51.77,Â£51.77,51.77,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/media/cache/2c/da/2...
1,Tipping the Velvet,90fa61229261140a,Historical Fiction,One,20,Â£53.74,Â£53.74,53.74,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/media/cache/26/0c/2...
2,Soumission,6957f44c3847a760,Fiction,One,20,Â£50.10,Â£50.10,50.10,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/media/cache/3e/ef/3...
3,Sharp Objects,e00eb4fd7b871a48,Mystery,Four,20,Â£47.82,Â£47.82,47.82,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/media/cache/32/51/3...
4,Sapiens: A Brief History of Humankind,4165285e1663650f,History,Five,20,Â£54.23,Â£54.23,54.23,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/media/cache/be/a5/b...

In [27]:
df = df.replace('Â£', '', regex=True)

In [28]:
df.head()

,Title,UPC,Category,Rating,Quantity,Price_x,Price_i,Total_price,Title_link,Img_link
0,A Light in the Attic,a897fe39b1053632,Poetry,Three,22,51.77,51.77,51.77,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/media/cache/2c/da/2...
1,Tipping the Velvet,90fa61229261140a,Historical Fiction,One,20,53.74,53.74,53.74,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/media/cache/26/0c/2...
2,Soumission,6957f44c3847a760,Fiction,One,20,50.10,50.10,50.10,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/media/cache/3e/ef/3...
3,Sharp Objects,e00eb4fd7b871a48,Mystery,Four,20,47.82,47.82,47.82,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/media/cache/32/51/3...
4,Sapiens: A Brief History of Humankind,4165285e1663650f,History,Five,20,54.23,54.23,54.23,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/media/cache/be/a5/b...

In [29]:
df.to_csv('Book_details_combined.csv',index=False)