In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from tqdm import tqdm
import numpy as np

In [2]:
df = pd.read_csv('Books.csv',encoding = 'ISO-8859-1')
df.head()

,title,rating,price,availability,title_link,img_link
0,A Light in the Attic,Three,51.77,In stock,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/media/cache/2c/da/2...
1,Tipping the Velvet,One,53.74,In stock,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/media/cache/26/0c/2...
2,Soumission,One,50.10,In stock,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/media/cache/3e/ef/3...
3,Sharp Objects,Four,47.82,In stock,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/media/cache/32/51/3...
4,Sapiens: A Brief History of Humankind,Five,54.23,In stock,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/media/cache/be/a5/b...

In [28]:
data=[]
for sp in tqdm(df['title_link']):
    
    res  = requests.get(sp)
    soup = BeautifulSoup(res.text,'html.parser')
    
    cat  = soup.find('ul',class_='breadcrumb').find_all('a')[2].text
    qn   = soup.find('p',class_='instock availability').text[25:-16].strip()
    temp = soup.find('table', class_='table table-striped').find_all('td')
    
    upc      = temp[0].text
    price_x  = temp[2].text[1:]
    price_i  = temp[3].text[1:]
    tax      = temp[4].text[1:]
    review   = temp[6].text
    
    data.append([cat,qn,upc,price_x,price_i,tax,review])

100%|██████████████████████████████████████████████████████████████████████████████| 1000/1000 [16:02<00:00,  1.04it/s]

In [20]:
up1c = soup.find('table', class_='table table-striped').find_all('td')

In [10]:
qn

'16'

In [53]:
upc

In [24]:
temp = soup.find('table', class_ = 'table table-striped').find_all('td')
print(temp[2].text[1:])

Â£52.37

In [25]:
 temp[2].text[1:]

'£52.37'

In [26]:
temp[6].text

'0'

In [31]:
df = pd.DataFrame(data, columns = ['Category','Quantity','UPC','Price_x','Price_i','Tax','Review'])
df.head()

             Category Quantity               UPC Price_x Price_i    Tax Review
0              Poetry       22  a897fe39b1053632  £51.77  £51.77  £0.00      0
1  Historical Fiction       20  90fa61229261140a  £53.74  £53.74  £0.00      0
2             Fiction       20  6957f44c3847a760  £50.10  £50.10  £0.00      0
3             Mystery       20  e00eb4fd7b871a48  £47.82  £47.82  £0.00      0
4             History       20  4165285e1663650f  £54.23  £54.23  £0.00      0

In [32]:
df.to_csv('Book_info.csv',index= False)